$form-color: #fff;
$form-dark-color: #000;

.form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  padding: 20px 0;
  background-color: $form-dark-color;
  label,
  h4 {
    color: $form-color;
  }
  input,
  textarea {
    display: block;
    width: 50%;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $form-color;
    color: $form-color;
    letter-spacing: 1px;
  }
  ::placeholder {
    color: $form-color;
    letter-spacing: 1px;
  }

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    border: 2px solid $form-color;
    background-color: transparent;
    padding: 1.2rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    color: $form-color;
  }
  button:hover {
    background-color: $form-color;
    color: $form-dark-color;
    cursor: pointer;
  }
}
